<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Define properties for easier configuration -->
    <property name="HOME_LOG" value="logs/app.log"/>

    <property name="LOG_FILE_NAME" value="application"/>
   <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>
   <property name="ROLLING_FILE_SIZE" value="10MB"/>
   <property name="MAX_HISTORY" value="60"/>

   <!-- Appender for writing logs to the console -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Appender for writing logs to a rolling file -->
    <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${HOME_LOG}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${HOME_LOG}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- Each archived File size max 10MB-->
            <maxFileSize>${ROLLING_FILE_SIZE}</maxFileSize>
            <!-- 60 days to keep -->
            <maxHistory>${MAX_HISTORY}</maxHistory>
            <!-- total size of all archive files, if total size > 20GB, it will delete the olf archive files -->
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <!-- <pattern>%d %p %c{1.} [%t] %m%n</pattern> -->
        </encoder>
    </appender>

    <springProfile name="local">
        <root level="DEBUG">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="FILE-ROLLING"/>
        </root>
    </springProfile>

    <!--<springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="FILE-ROLLING"/>
        </root>
    </springProfile>

    <springProfile name="test | acc | prod">
        <root level="WARN">
            <appender-ref ref="FILE-ROLLING"/>
        </root>
    </springProfile>-->

    <!-- Root logger configuration -->
    <!--<root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root> -->

    <!-- Specific logger configuration example (example for my.package) -->
    <!--<logger name="my.package" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </logger> -->

    <!-- Example of overriding a Spring Boot logger -->
    <!--<logger name="org.springframework" level="WARN" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </logger>-->

    <!-- You can add other loggers as needed (e.g., for specific libraries) -->

</configuration>